.content-all-background{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.cont-blq-bk{
    display: flex;
    padding-bottom: 8rem;
    align-items: start;
    
}

.cont-back-a{
    width: 17rem;
    
}

.cont-back-a h2{
    text-transform: uppercase;
    font-weight: 700;
    color: #007aff;
}

.cont-back-b{
    width: 100%;
    font-size: 1.3rem;
    padding: 0 0.2rem;
}

.fd-ts-back{
    display: flex;
    justify-content: space-between;
}

.card-dtl-info-exp{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    text-transform: capitalize;
}

.crd-inf-x{
    margin-right: 2rem;
}

.card-back-b h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.card-back-b p{
    padding: 0.5rem 0;
    font-size: 1rem;
    text-transform: capitalize;
}

.fd-ts-back{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.crd-inf-x .ttl-prsk{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.p-info-ex-p{
    padding-bottom: 0.5rem;
    width: 90%;
}

@media (max-width:1439px){
    
}

@media (max-width:1023px){
    .fd-ts-back{
        flex-wrap: wrap;
        
        justify-content: space-between;
        
    }

    .card-back-b{
        padding-bottom: 2rem;
        
    }

    .cont-back-a{
        min-width: 10rem;
        
    }

    .crd-inf-y{
        width: 7rem;
    }
}

@media (max-width:767px){
    .cont-blq-bk{
        flex-direction: column;
    }

    .cont-back-a h2{
        padding-bottom: 1rem;
    }

    .fd-ts-back{
        flex-direction: column;
    }

    .ttl-crrcr{
        width: 80%;
    }
}

