.content-all-project-pf{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.cont-sct-mbl h2{
    width: 10rem;
    
}



@media (max-width:767px){
    .cont-project-mob{
        display: flex;
        flex-direction: column;
    }

    .cont-sct-mbl{
        padding-bottom: 1rem;
    }
}