.fram-footer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.ft-bql-a{
    width: 25%;
    
}

.ft-bql-a p{
    color: #fff;
    font-weight: 700;
    
}

.ft-bql-b{
    width: 75%;
    display: flex;
    justify-content: space-around;
}


.ft-bql-b a{
    text-decoration: none;
    color: #007aff;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width:767px){
    .fram-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ft-bql-a{
        width: 90%;
        text-align: center;
        padding-bottom: 1rem;
    }

    .ft-bql-b{
        width: 95%;
    }
}